@using Backend.Models

@code {
	private Dictionary<Guid, Product>? prodDict = new();
	private HttpClient backendClient = new();

	protected override async Task OnInitializedAsync()
	{
		prodDict = await backendClient.GetFromJsonAsync<Dictionary<Guid, Product>>("https://localhost:7130/api/Products");
	}
}

@if (prodDict != null)
{
	<div><b>@prodDict.Count</b> @(prodDict.Count == 1 ? "Product" : "Products") found.</div>
	<div class="prodslist-body">
		@foreach (KeyValuePair<Guid, Product> entry in prodDict)
		{
			<ProductCard Product="@entry.Value" />
		}
	</div>
}
